{% load static %}
<div class="container-xxl py-5" dir="rtl" id="details">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="section-title text-center mx-auto wow fadeInUp">
                    <h1 class="display-6">{{ details_donations.title }}</h1>
                </div>
                <p style="text-align: justify;" class="form-select-lg">{{ details_donations.description }}</p>
            </div>
        </div>
    </div>
</div>