{% load static %}
<div class="container-fluid product py-5 my-5" id="help">
    <div class="container py-5">
        <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h6 class="display-5 text-center text-bg-success">{{ donation_title.title }}</h6>
            <p class="fs-5 fw-medium text-center ">{{ donation_title.description }}</p>
        </div>
        <div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">
            {% for help in helpers %}
            <div href="" class="d-block product-item rounded">
                <img src="{{ help.image.url }}" alt="">
                <div class="bg-gradient shadow-sm text-center p-4 position-relative mt-n5 mx-4">
                    <h3 class="text-bg-success">{{ help.name }}</h3>
                    <span class="text-white text-bg-primary">{{ help.count }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>