{% load static %}
<div class="container-fluid sticky-top" dir="rtl" id="navbar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py-2 py-lg-0">
            <a href="/" class="navbar-brand">
                <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="Logo">
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-item nav-link">صفحه اصلی</a>
                    <a href="#about" class="nav-item nav-link">درباره</a>
                    <a href="#help" class="nav-item nav-link">کمک های خیریه</a>
                    <a href="#details" class="nav-item nav-link">جزئیات کمک ها</a>
                    <a href="#pictures" class="nav-item nav-link">تصاویر</a>
                    <a href="#contact" class="nav-item nav-link">تماس با ما</a>
                </div>
            </div>
        </nav>
    </div>
</div>